<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Get A Py!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Get a py!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-light" href="/signup">Sign up</a>
                <a class="btn btn-light" href="/login">Log in</a>
            </form>
        </div>
    </nav>

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Get a py 🥧!</h1>
                <p>Love pie? This site lets you order one in advance! Simply leave a note to our bakers and they'll bake
                    a pie for you!</p>
                <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up &raquo;</a></p>
                <p><a class="btn btn-primary btn-lg" href="/login" role="button">Log in &raquo;</a></p>
            </div>
        </div>
        <div class="container">
            <img src="{{ url_for('static', filename='pie.jpg') }}" alt="" style="width: 100%">
        </div>
    </main>
</body>

</html>